<%

widgetPeriod = widget_properties["Period"]
days = Property.value('sonar.scm-stats.period' + widgetPeriod.to_s, @resource.id)

if widgetPeriod == 1
  period_measure = "scm-commits-per-user"
else 
  period_measure = "scm-commits-per-user-" + widgetPeriod.to_s
end
  commitsPerUserDistribution = measure(period_measure)
  if commitsPerUserDistribution
    if !commitsPerUserDistribution.data.blank?
      commitsPerUser = commitsPerUserDistribution.data.split(";"); 
    else
      commitsPerUser = commitsPerUserDistribution.text_value.split(";"); 
    end  
    the_measure_stack_chart = ""
    commitsPerUser.take(10).each do |a_measure|
      split_measure = a_measure.split("=")
      activity = split_measure[1].sub('[', '').sub(']', '')
      activity_metrics = activity.split(",")
      author = split_measure[0]
      length = author.size
      author = author[4..length]
      the_measure_stack_chart+=author+"="+activity_metrics[1]+"."+activity_metrics[2]+"."+activity_metrics[3]+";"
    end ;
    height = (commitsPerUser.take(10).length * 30) + 40;
    
%>  
<table width="100%">
  <tbody>
    <tr>
      <td valign="top" width="100%">
        <div class="dashbox">
          <% if days.to_i > 0 %>
            <p class="title"><%= message('widget.scm-stats-authors-activity.title') + " " + message('scmstats.forTheLast', :params => days.to_s) -%></p>
          <% else %>
            <p class="title"><%= message('widget.scm-stats-authors-activity.title') + " " + message('scmstats.fromTheBeginning') -%></p>
          <% end; %> 
          <br />
          <% query="ck=stackedBarChart3D&w=500&h=" + height.to_s + "&v=" + u(the_measure_stack_chart) %>
          <%= chart(query) -%>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<% else %>
    <% if days.to_i > 0 %>
      <p class="title"><%= message('widget.scm-stats-authors-activity.title') + " " + message('scmstats.forTheLast', :params => days.to_s) -%></p>
    <% else %>
      <p class="title"><%= message('widget.scm-stats-authors-activity.title') + " " + message('scmstats.fromTheBeginning') -%></p>
    <% end; %> 
  <br />
  <p><%= message('scmstats.noData') -%></p>
<% end %>