<% 
widgetPeriod = widget_properties["Period"]
days = Property.value('sonar.scm-stats.period' + widgetPeriod.to_s, @resource.id)
if days == nil
  days = Property.value('sonar.scm-stats.period' + widgetPeriod.to_s, nil)
end
if widgetPeriod == 1
  period_measure = "scm-commits-per-user"
else 
  period_measure = "scm-commits-per-user-" + widgetPeriod.to_s
end
  commitsPerUserDistribution = measure(period_measure)
  if commitsPerUserDistribution
    if !commitsPerUserDistribution.data.blank?
      commitsPerUser = commitsPerUserDistribution.data.split(";"); 
    else
      commitsPerUser = commitsPerUserDistribution.text_value.split(";"); 
    end  
    fixedCommitsPerUser= Array.new
    totalCommits = 0 

    commitsPerUser.each do |a_measure| 
      split_measure = a_measure.split("=")
      activity = split_measure[1].sub('[', '').sub(']', '')
      activity_metrics = activity.split(",")
      author = split_measure[0]
      length = author.size
      author = author[4..length]
      a_measure = activity_metrics[0] + "=" + author
      totalCommits = totalCommits + activity_metrics[0].to_f 
      fixedCommitsPerUser.insert(-1,a_measure)
    end ;
    the_measure_pie_chart = ""
    fixedCommitsPerUser.take(10).each do |a_measure|
      split_measure = a_measure.split("=")
      the_percentage=((split_measure[0].to_i/(totalCommits))*100).round(1)
      the_measure_pie_chart+=split_measure[1]+"="+the_percentage.to_s+";"
    end ;

    top10Committers = fixedCommitsPerUser.take(10)
    fixedCommitsPerUser.shift(10)
    restCommitsSum = 0
    fixedCommitsPerUser.each do |a_measure|
      split_measure = a_measure.split("=")
      restCommitsSum = restCommitsSum + split_measure[0].to_i
    end ;
    if restCommitsSum > 0 
      others = message('widget.scm-stats-commits-per-user.others')
      the_percentage=((restCommitsSum.to_i/(totalCommits))*100).round(1)
      the_measure_pie_chart+=others+ "="+the_percentage.to_s+";"
      others_measure = restCommitsSum.to_s + "=" + others
      top10Committers.insert(10,others_measure)
    end;

%>  
<table width="100%">
  <tbody>
    <tr>
      <td valign="top" width="100%">
        <div class="dashbox">
          <% if days.to_i > 0 %>
            <p class="title"><%= message('widget.scm-stats-commits-per-user.title') + " " + message('scmstats.forTheLast', :params => days.to_s) -%></p>
          <% else %>
            <p class="title"><%= message('widget.scm-stats-commits-per-user.title') + " " + message('scmstats.fromTheBeginning') -%></p>
          <% end; %> 
          <br />
        </div>
      </td>
    </tr>
  </tbody>
</table>
<table width="100%">
  <tbody>
    <tr>
      <td valign="top" width="40%">
         <table>
<% top10Committers.each do |the_measure|  %>
<% the_measure =the_measure.split("="); %>
            <tr>
              <td align="right" width="40px"><p><%= number_with_delimiter(the_measure[0].to_i);-%></p></td>
              <td style="width:10px;"></td>
              <td><p><%= the_measure[1];-%></p></td>
            </tr>
<% end; %>
          </table>
        </td>
        <td valign="top" width="60%">
          <div class="dashbox">
  <% query="ck=pieChart3D&w=400&h=200&c=33cc33,ffff33,ff9900,ff0033,382CE0,D42CE0,73A30E,13EEE3,A0E3F0,83800A,000000&v=" + u(the_measure_pie_chart) %>
  <%= chart(query) -%>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<% else %>
          <% if days.to_i > 0 %>
            <p class="title"><%= message('widget.scm-stats-commits-per-user.title') + " " + message('scmstats.forTheLast', :params => days.to_s) -%></p>
          <% else %>
            <p class="title"><%= message('widget.scm-stats-commits-per-user.title') + " " + message('scmstats.fromTheBeginning') -%></p>
          <% end; %> 
  <br />
  <p><%= message('scmstats.noData') -%></p>
<% end %>